@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0a0c10;
  --text-color: #fff;
}

html,
body {
  overflow-x: hidden;
  color-scheme: dark;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-family: "IBM Plex Sans", sans-serif;

  background: var(--background-color) url("/static/background.webp") no-repeat
    center center fixed;
  color: var(--text-color);

  min-width: 360px;
  width: 100%;
  height: 100%;
  margin: 0;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
