@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #0a0c10;
  --text-color: #fff;
}

html,
body {
  color-scheme: dark;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  font-family: "IBM Plex Sans", sans-serif;

  background-color: var(--background-color);
  color: var(--text-color);

  min-width: 360px;
  width: 100%;
  height: 100%;
  margin: 0;
}