@import "clash-grotesk.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 27.9% 5.7%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 237 99% 74%;
    --primary-foreground: 0 0% 0%;

    --secondary: 214.2 98.47% 74.31%;
    --secondary-foreground: 218 11% 65%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;
  }
}

/* global elements */
@layer base {
  html[data-scroll-orientation="horizontal"] {
    body {
      @apply w-fit;
    }
    [data-scroll-container] {
      @apply flex;
    }
  }
  * {
    @apply border-border;
  }
  html {
    @apply antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
  section {
    scroll-margin-top: 60px;
  }
}

/* custom scrollbar */
@layer base {
  ::-webkit-scrollbar {
    @apply h-2.5 w-2 transition;
  }
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-muted;
  }
  ::-webkit-scrollbar-thumb:active {
    @apply bg-primary;
  }
}

/* custom styles */
@layer base {
  .clash-grotesk {
    font-family: "ClashGrotesk-Variable", sans-serif;
  }
  .text-gradient {
    @apply bg-gradient-to-br from-primary to-secondary bg-clip-text text-transparent;
  }
  .nav-active {
    color: rgb(226 232 240) !important;
    @apply text-sm lowercase tracking-tight text-slate-200;
  }
  .nav-link {
    /* Remove the styles from nav-link class */
    @apply text-sm lowercase tracking-tight text-slate-400;
  }

  /* blinking animation */
  @keyframes blink {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 1s infinite;
  }
}
