.burger {
  transition: opacity 300ms ease;
  border: 0;
  background: transparent;
  width: 40px;
  height: 40px;
  position: relative;
}

.burger svg {
  transform: translate(-50%, -50%) scale(1);
  top: 50%;
  left: 50%;
  opacity: 1;
  transition: opacity 300ms ease, transform 300ms ease;
}

.burger svg[data-hide="true"] {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.menu {
  margin-top: 1.95rem;
  padding: 10px;
  width: 100%;
  z-index: 1000;
  opacity: 0;
  left: 0;
  transition: opacity 300ms ease, transform 300ms ease;
}

.menu li {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transform: translateX(-16px);
  opacity: 0;
  transition: opacity 300ms ease, transform 300ms ease, width 300ms ease,
    border-color 300ms ease;
  width: 0px;
  white-space: nowrap;
}

.menuRendered {
  opacity: 1;
}

.menuRendered li {
  @apply border-neutral-700 w-full;
  transform: translateX(0);
  opacity: 1;
}

.menu > * + * {
  margin-top: 24px;
}

@keyframes grow {
  0% {
    height: 0px;
  }
  100% {
    height: 24px;
  }
}